@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;0,900;1,800&display=swap');

:root {
  --font-family: 'Fira Sans', sans-serif;
  --bg-colors-variant: #fff;
  --bg-colors-variant-1: #bebebd;
  --bg-colors-variant-2: #5b5c59;
  --bg-colors-variant-3: #494a47;
  --bg-colors-variant-4: #2c2c2c;
}

.Gif {
  --gifShadow-size: var(--gridList-gap, 6px);
  margin-bottom: 0.5em;
  transition: all .2s; /* Animation */
}

.text-gifs{
  font-family: var(--font-family);
}

.Gif:nth-child(5n + 1) img {
  background: var(--brand-color_1);
  background: linear-gradient(
    90deg,
    rgb(12, 154, 236) 0%,
    rgba(175, 8, 121, 1) 0%,
    rgba(0, 212, 255, 1) 85%
  );
}
.Gif:nth-child(5n + 2) img {
  background: var(--brand-color_2);
  background: linear-gradient(
    90deg,
    rgb(12, 154, 236) 0%,
    rgba(227, 237, 12, 1) 0%,
    rgba(0, 255, 0, 1) 85%
  );
}
.Gif:nth-child(5n + 3) img {
  background: var(--brand-color_3);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.Gif:nth-child(5n + 4) img {
  background: var(--brand-color_4);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.Gif:nth-child(5n + 5) img {
  background: var(--brand-color_5);
  background: radial-gradient(
    circle,
    rgba(12, 231, 217, 1) 0%,
    rgba(148, 173, 233, 1) 100%
  );
}

.Gif:hover:nth-child(5n + 1) {
  box-shadow: 0 0 0 10px var(--brand-color_1);
  transform: scale(1); 
}
.Gif:hover:nth-child(5n + 2) {
  box-shadow: 0 0 0 10px var(--brand-color_2);
  transform: scale(1); 
}
.Gif:hover:nth-child(5n + 3) {
  box-shadow: 0 0 0 10px var(--brand-color_3);
  transform: scale(1); 
}
.Gif:hover:nth-child(5n + 4) {
  box-shadow: 0 0 0 10px var(--brand-color_4);
  transform: scale(1); 
}
.Gif:hover:nth-child(5n + 5) {
  box-shadow: 0 0 0 10px var(--brand-color_6);
  transform: scale(1); 
}

.Gif:hover:nth-child(5n + 1) h4 {
  background-color: var(--brand-color_1);
  color: var(--theme-body-bg);

}
.Gif:hover:nth-child(5n + 2) h4 {
  background-color: var(--brand-color_2);
  color: var(--theme-body-bg);
}
.Gif:hover:nth-child(5n + 3) h4 {
  background-color: var(--brand-color_3);
  color: white;
}
.Gif:hover:nth-child(5n + 4) h4 {
  background-color: var(--brand-color_4);
  color: white;
}
.Gif:hover:nth-child(5n + 5) h4 {
  background-color: var(--brand-color_5);
  color: var(--theme-body-bg);
}

.Gif:nth-child(11n + 1) {
  grid-column: span 2;
  grid-row: span 1;
}

.Gif:nth-child(8n + 1) {
  grid-column-end: span 3;
  grid-row-end: span 2;
}

.Gif:nth-child(10n + 3) {
  grid-column: span 3;
  grid-row: span 2;
}

