@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;0,900;1,800&display=swap');

:root {
  --font-family: 'Fira Sans', sans-serif;
  --bg-colors-variant: #fff;
  --bg-colors-variant-1: #bebebd;
  --bg-colors-variant-2: #5b5c59;
  --bg-colors-variant-3: #494a47;
  --bg-colors-variant-4: #2c2c2c;
}
