@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;900&display=swap');
:root {
  --fz: 16px;
  --theme--contrast-0: #121212;
  --theme-body-bg: #101010;
  --theme-body-txt: #f3f3f3;
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --brand-color_1: rgb(46, 40, 165);
  --brand-color_2: rgb(15, 8, 206);
  --brand-color_3: rgb(131, 58, 180);
  --brand-color_4: rgb(238, 174, 202);
  --brand-color_5: rgb(12, 231, 217);
  --brand-color_6: rgb(34, 67, 195);
}

button {
  font-size: calc(10px + 2vmin);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}